.fade-in {
    z-index: -1;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fade-out {
    z-index: -1;
    position: relative;
    animation: fadeOut 10s infinite;
    
}
@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}



/*in order to use z-index, you have to declare a position on the item*/


/*animation ends here. Trying not to animate the text along with it */


/*https://www.w3schools.com/cssref/pr_pos_z-index.asp*/


/*div with higher z-index and position relative*/

.front {
    z-index: 1;
    position: relative;
}


/*also make sure to have your styles inside CSS, not in the HTML*/

img {
    max-height: 150vh;
    min-height: 100%;
    background-size: cover;
    position: fixed;
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    line-height: 140px;
    text-align: center;
    color: floralwhite;
    letter-spacing: 10px;
    margin: 30px;
    padding: 30px;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: floralwhite;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: .01em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    min-width: 500px;
    text-align: center;
    margin: 180px;
    padding: 180px;
}

a:link,
a:visited {
    background-color: floralwhite;
    color: black;
    padding: 20px 30px;
    border-radius: 12px;
    cursor: pointer;
}

a:hover,
a:active {
    background-color: white;
}
